.about {
    margin: 20% auto;
    height: 100%;
    width: 100vw;
    padding-bottom: 30%;
    overflow: hidden;
}

.about__title {
    font-family: var(--title);
    text-align: center;
    font-size: 2em;
}

.about-wrapper__left {
    margin: 10% 0% 0% 2%;
    width: 80%;
    background: var(--blue);
}

.about-wrapper__right {
    margin: 10% 0% 0% 10%;
    width: 80%;
    background: var(--blue);
}

.about-wrapper__left, .about-wrapper__right {
    text-align: center;
    border-radius: 5%;
    padding: 1em;
}

.about-wrapper__left p,
.about-wrapper__right p{
    font-family: var(--buttons-sans-serif);
    font-weight: bolder;
    text-decoration: none;
    color: var(--green);
    margin: 5% 10% 5% 10%;
    transition: 0.5s transform;
}

.about__text-project {
    font-family: var(--buttons-sans-serif);
    margin: 5% 5%;
    letter-spacing: 0.1em;
}

.about-wrapper__image-wrapper {
    border-radius: 5%;
    margin: 10% 0% 0% 0%;
    width: 80%;
    height: 40vh;
    /* background: var(--blue); */
}

.about-wrap-image {
    display: flex;
    margin-top: 5%;
    width: 100%;
    justify-content: center;
}

.about-wrapper__image {
    margin: 5% 30%;
    border-radius: 5%;
    width: 40%;
    height: 40%;
    max-width: 250px;
    border: 3px solid var(--white);
}

.about__back-button {
    font-family: var(--buttons-sans-serif);
    font-weight: bolder;
    position: fixed;
    top: 90%;
    left: 1%;
    height: 10%;
    width: 98%;
    border: none;
    background: var(--white);
    color: var(--green);
    border-top: 2px solid var(--pink)
}

.about__back-button:hover {
    opacity: 0.5;
}

@media screen and (min-width: 600px) {
    .about {
        margin: 5% auto;
        padding-bottom: 0;
    }

    .about__title {
        font-size: 3em;
    }

    .about-wrapper__project-wrapper {
        margin: 5% auto;
    }

    .about-wrapper__left, .about-wrapper__right {
        margin-top: 5%;
    }

    .about-wrapper__right {
        margin: 10% 0% 0% 13.5%;
    }

    .project-wrapper__image {
        margin: 5% 0% 0% 32%;
        width: 36%;
    }

    .about__back-button {
        margin: 0 auto;
        padding: 0;
        width: 30%;
        top: 0;
        left: 0;
        border: none;
    }
}

@media screen and (min-width: 1200px) {
    .about {
        margin: 0 auto;
        overflow: hidden;
    }
    
    .about-wrapper__project-wrapper {
        margin: 1% auto;
        height: 100%;
        width: 24%;
    }

    #frontend {
        margin-top: 10%;
    }

    .about-wrapper__left {
        margin: 5% 0% 0% 2%;
    }

    .about-wrapper__right {
        margin: 5% 0% 0% 16%;
    }

    p {
        font-size: 2vw;
    }
}