.portfolio {
    height: 100%;
    width: 100%;
}

.portfolio__portfolio-wrapper {
    margin-top: 10%;
    height: 90vh;
    width: 100%;
    background: var(--pink);
}

.portfolio__back-button {
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
}