.portfolio {
    margin: 20% auto;
    height: 100%;
    width: 100vw;
    padding-bottom: 10%;
}

.portfolio__title {
    font-family: var(--title);
    text-align: center;
    font-size: 2em;
}

.portfolio__portfolio-wrapper {
    margin: 20% auto;
    width: 100vw;
    background: var(--pink);
}

.portfolio-wrapper__project-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 60%;
    width: 98%;
    min-height: 300px;
    min-width: 250px;
    margin: 5vh auto;
    background: var(--blue);
    color: var(--green);
}

.portfolio-wrapper__image {
    margin: 5% 5% 0% 1%;
    height: 80%;
    width: 98%;
    border-radius: 1%;
}

.project-wrapper__links-wrapper {
    border-bottom: 6px solid var(--pink);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.links-wrapper__link {
    font-family: var(--buttons-sans-serif);
    font-weight: bolder;
    text-decoration: none;
    color: var(--green);
    margin: 5% 10% 5% 10%;
    transition: 0.5s transform;
}

.links-wrapper__link--no-demo {
    display: none;
}

.links-wrapper__link:hover {
    transform: translate(15%);
    transition-delay: 0.2s;
    color: var(--green);
}

.links-wrapper__link .links-wrapper__arrow {
    color: transparent;
    transition: 0.5s color;
}

.links-wrapper__link:hover .links-wrapper__arrow {
    color: var(--green);
    opacity: 0.8;
    transition-delay: 0.3s;
}

.project-wrapper__description {
    width: 100%;
}

.description__text {
    font-family: var(--buttons-sans-serif);
    margin: 5% 5%;
}

.portfolio__back-button {
    font-family: var(--buttons-sans-serif);
    font-weight: bolder;
    opacity: 0.6;
    position: fixed;
    top: 90%;
    left: 1%;
    height: 10%;
    width: 98%;
    border: none;
    background: var(--white);
    color: var(--green);
    border-top: 2px solid var(--pink)
}

.portfolio__back-button:hover {
    opacity: 1;
}

@media screen and (min-width: 600px) {
    .portfolio {
        margin: 5% auto;
    }

    .portfolio__title {
        font-size: 3em;
    }

    .portfolio__portfolio-wrapper {
        margin: 10% auto;
    }

    .portfolio-wrapper__project-wrapper {
        width: 90%;
        flex-wrap: wrap;
        flex-direction: unset;
        border-bottom-left-radius: 10%;
    }

    .portfolio-wrapper__image {
        margin: 5% 15% 0% 0%;
        width: 40%;
        border-bottom-left-radius: 10%;
    }

    .project-wrapper__description {
        margin: 5% 5% 5% 0%;
        width: 40%;
        font-size: 1em;
    }

    .description__text {
        font-size: 2vw;
    }

    .portfolio__back-button {
        margin: 0 auto;
        padding: 0;
        width: 30%;
        top: 0;
    }
}

@media screen and (min-width: 1200px) {
    .portfolio {
        margin: 0 auto;
        overflow: hidden;
    }

    .portfolio__portfolio-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 1%;
    }
    
    .portfolio-wrapper__project-wrapper {
        width: 46%;
        margin: 5% 0% 0% 2%;
        height: 100%;
    }
}