.skills {
    height: 100%;
    width: 100vw;
    padding-bottom: 10%;
}

.skills__title {
    font-family: var(--title);
    text-align: center;
    font-size: 2em;
}

.skills__skills-wrapper {
    width: 100vw;
    background: var(--pink);
    display: flex;
    flex-wrap: wrap;
    margin: 10% auto;
}

.skills-wrapper__project-wrapper {
    height: 30%;
    width: 30%;
    margin: 10% auto;
    background: var(--blue);
    color: var(--green);
    border-radius: 10%;
}

.project-wrapper__image {

}

.project-wrapper__text {
    font-family: var(--buttons-sans-serif);
    font-weight: bolder;
    text-align: center;
}

.skills__back-button {
    font-family: var(--buttons-sans-serif);
    font-weight: bolder;
    opacity: 0.9;
    position: fixed;
    top: 90%;
    left: 1%;
    height: 10%;
    width: 98%;
    border: none;
    background: var(--white);
    color: var(--green);
    border-top: 2px solid var(--pink)
}

