.menu-wrapper__back-button {
    font-family: var(--buttons-cursive);
    font-weight: bolder;
    height: 10%;
    width: 98%;
    border: none;
    background: var(--white);
    color: var(--green);
    border-top: 2px solid var(--pink)
}

.menu-wrapper__dropdown {
    display: none;
}

.menu-wrapper {
    position: fixed;
    top: 90%;
    left: 0;
    height: 10%;
    width: 100%;
}

.menu-wrapper__back-button {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    border: none;
    transition: 1s opacity;
}

.menu-wrapper__dropdown {
    height: 80%;
    transition: 1s font-size;
}

.menu-wrapper__dropdown button {
    border: none;
    border: 1px solid var(--pink);
    height: 25%;
    width: 100%;
    background: var(--white);
    transition: 0.5s transform, 1s background-image, 0.3s border-radius;
    font-family: var(--buttons-cursive);
}

@media screen and (min-width: 600px) {
    .menu-wrapper {
        position: fixed;
        top: 0%;
        left: 0;
        height: 10%;
        width: 30%;
        transition: 0.2s width;
    }

    .menu-wrapper__back-button {
        margin: 0 auto;
        padding: 0;
        height: 100%;
        width: 100%;
        border: none;
    }

    .menu-wrapper__dropdown {
        height: 80%;
    }

    .menu-wrapper:hover {
        height: 50%;
        width: 32%;
    }

    .menu-wrapper:hover .menu-wrapper__dropdown {
        background: transparent;
        display: contents;
        display: flex;
        flex-direction: column;
    }
    
    .menu-wrapper:hover .menu-wrapper__back-button {
        opacity: 0.2;
        height: 20%;
        pointer-events: none;
    }

    .menu-wrapper__dropdown button:hover {
        background-image: linear-gradient(to right, var(--pink), transparent);
        transform: translateX(1%);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}