:root {
  --green: #666235;
  --brown: #a98c6a;
  --pink: #efe6d6;
  --white: #f5f8eb;
  --blue: #e1e9eb;

}

html, body {
  max-height: 100vh !important;
  max-width: 100vh !important;
  /* overflow: hidden !important; */
}

body {
  background: var(--blue);
  margin: 0;
  padding: 0;
}

.app {
  position: absolute;
}
