:root {
  --green: #666235;
  --brown: #a98c6a;
  --pink: #efe6d6;
  --white: #f5f8eb;
  --blue: #e1e9eb;

}

body {
  background: var(--white);
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}